body {
    background: var(--bg, #fff);
    font-size: 16px;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar {
        width: .7em;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--clr-dim);
        min-width: 3rem;
        min-height: 3rem;
        border-radius: 3rem;
        -webkit-background-clip: content;
        background-clip: content-box;
        border: 0.2rem solid transparent;
    }
    &::-webkit-scrollbar-track{
        background: transparent;
    }
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: var(--clr, var(--clr-text));
    line-height: var(--lh, 1.2);
    font-weight: var(--fw, 500);
    font-size: var(--fs, 1rem);
    letter-spacing: var(--ls, 0);
    font-family: var(--ff);
}

h1{
    margin: 0;
}
