:root{
    --clr-primary: #fa5f60;
    --clr-text: #8e9aa9;
    --clr-text-hl: #313642;
    --clr-text-dim: #e2e7ec;
    --clr-bg-base: #f4f7fa;
    --clr-bg-hl: #fff;

    --clr-success: #a0d468;
    --clr-danger: #da4453;
    --clr-warning: #bc8b2c;

    //current theme
    --clr: var(--clr-text);
    --clr-dim: var(--clr-text-dim);
    --clr-hl: var(--clr-text-hl);
    --bg: var(--clr-bg-base);
    --bg-hl: var(--clr-bg-hl);
    

    --base-padding: 1rem;

    --stock-card-max-w: 20rem;
    --stock-card-min-w: 15rem;
}